<mat-card class="card-detail-typescript">
    <mat-card-title>{{type}} Type User</mat-card-title>
    <mat-card-content>
      <p>Name: {{typeUser.typeName}}</p>
      <p>CreateOn: {{typeUser.createdOn}}</p>
      <p>ModifiedOn: {{typeUser.modifiedOn}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="type === 'Delete'" mat-button color="warn" (click)="deleteTypeUser()">Delete</button>
      <button mat-button (click)="cancel()">Close</button>
    </mat-card-actions>
  </mat-card>