<form [formGroup]="form" (ngSubmit)="add()">
    <mat-card>
        <mat-card-title>{{type}} Type Task</mat-card-title>
            <mat-card-content>
                <mat-form-field appearance="legacy">
                    <mat-label>Type Name</mat-label>
                    <input matInput formControlName="typeTaskName" placeholder="Placeholder">
                    <mat-error *ngIf="form.get('typeTaskName')?.invalid">Field type task name is <strong>requerid</strong></mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
                <button mat-button color="primary" type="submit">{{type}}</button>
                <button mat-button type="reset" (click)="cancel()">Cancel</button>
            </mat-card-actions>
            <mat-card-footer *ngIf="loading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </form>