<mat-card class="card-detail-typescript">
    <mat-card-title>{{type}} Type Task</mat-card-title>
    <mat-card-content>
      <p>Name: {{taskApplication.taskName}}</p>
      <p>CreateOn: {{taskApplication.createdOn}}</p>
      <p>ModifiedOn: {{taskApplication.modifiedOn}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="type === 'Delete'" mat-button color="warn" (click)="deleteTaskApplication()">Delete</button>
      <button mat-button (click)="cancel()">Close</button>
    </mat-card-actions>
  </mat-card>