<mat-card class="card-detail-typescript">
    <mat-card-title>{{type}} Activity Task</mat-card-title>
    <mat-card-content>
      <p>Name: {{activityTask.nameActivity}}</p>
      <p>CreateOn: {{activityTask.createdOn}}</p>
      <p>ModifiedOn: {{activityTask.modifiedOn}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="type === 'Delete'" mat-button color="warn" (click)="deleteActivityTask()">Delete</button>
      <button mat-button (click)="cancel()">Close</button>
    </mat-card-actions>
  </mat-card>